
body{
    margin: 0 auto;
}
.celdaamarilla, .celdaazul, .celdanegra, .celdaverde {
    color: white;
    border: 2px solid red;
    font-size: xx-large;
    text-align: center;
    box-sizing: border-box;

}
.celdanegra{
    background-color: black;
}
.celdaamarilla{
    background-color: yellow;
}
.celdaazul{
    background-color: rgb(40, 172, 172);
}

.celdaverde{
    background-color: green;
}
@media (min-width:201px){
    .celdanegra:nth-child(2), .celdanegra:nth-child(3){
        width: 49.5%;
        display: inline-block;
    }
    .celdaamarilla:nth-child(4){
        width: 70%;
        margin-left: 14%;
        margin-right: 14%;
    }
    .celdaamarilla:nth-child(5){
        width: 85%;
        margin-left: 14%;
    }
    .celdaamarilla:nth-child(6){
        width: 85%;
        margin-right: 14%;
    }
    .celdaazul:nth-child(7){
        width: 50%;
    }
    .celdaazul:nth-child(9){
        width: 50%;
        margin-left: 49%;
    }
    .celdaverde:nth-child(10){
        width: 30%;
        margin-left:30%;
        margin-right: 30%;
    }
}
@media (min-width:701px){
    .celdanegra:nth-child(1), .celdanegra:nth-child(2){
        width: 15%;
        display: inline-block;
    }
    .celdanegra:nth-child(3){
        width: 68%;
        display: inline-block;
    }
    .celdaamarilla:nth-child(4){
        width: 100%;
        margin: 0%;
    }
    .celdaamarilla:nth-child(5){
        width: 65%;
        margin-left: 34%;
        margin-right: 0%;
    }
    .celdaamarilla:nth-child(6){
        width: 65%;
        margin-right: 34%;
        margin-left: 0%;
    }
    .celdaazul:nth-child(7), .celdaazul:nth-child(8){
        width: 49.5%;
        display: inline-block;
    }
    .celdaazul:nth-child(9){
        width: 100%;
        margin: 0%;
    }
    .celdaverde:nth-child(10){
        width: 45%;
        margin-left: 55%;
        margin-right: 0%;
    }
}

